.card {
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  align-items: center;
}

.subtitle {
  margin-bottom: 0;
}

.selected {
  background-color: rgb(206, 233, 242);
}

.badge {
  display: flex;
  align-items: center;
}